:root {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #6c059c;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.page a{
  color: white;
}

.page a:hover {
  color: #1db6b4;
}

.selected a{ 
  color: #1db6b4;
}

body {
  margin: 0;

}